body {
    margin: 0;
    text-align: center;
    min-width: 400px;
    max-width: 600px;
    white-space: nowrap;
    max-height: 600px;
}

header {
    background-color: #6943FF;
    padding: 5px 0 10px 0;
}

header h1 {
    color: white;
    font-size: 1.2rem;
    font-weight: bolder;
}

header input {
    background-color: transparent;
    color: white;
    border: 2px solid;
    border-color: #B295FF;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    max-width: 70px;
    text-align: center;
    font-weight: bolder;
    font-size: 1.2rem;
}

header button {
    border-radius: 5px;
}

main {
    background-color: white; /* F4F4F4 */
}

main div {
    background-color: white;
    margin-top: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    background-color: #F4F4F4;
}

main h2 {
    margin: 0;
    color: #5A537B;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 5%;
    padding-top: 5%;
}

main p {
    color: #353535;
    margin-top: 10px;
    padding-bottom: 4%;
    white-space: normal;
}